@import "tailwindcss";

:root {
  --background: #101828;
  --foreground: #171717;
}

body {
  background: #101828;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.rise {
  opacity: 1;
  transform: translateY(0);
  animation: rise-animation .4s ease-out;
}

@keyframes rise-animation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}